/Exercici1/bootstrap-5.0.0-beta2-dist/*
/Exercici2/bootstrap-5.0.0-beta2-dist/*
/Exercici3/bootstrap-5.0.0-beta2-dist/*

/Exercici1/css/*
/Exercici2/css/*
/Exercici3/css/*

/Exercici1/js/*
/Exercici2/js/*
/Exercici3/js/*
